*{
    padding:0;
    margin:0;
}

.menu{
    background-color: #CB0D1F;
    height: 54px;
    font-size:90%
}

.menu li a{
    color:white;
    text-decoration:none;
    padding-right:40px
}

.menu li a:hover{
    color:white;
}


@media screen and (max-width: 900px){

    .menu li a{
        padding-right:20px;
    }

} 

@media screen and (max-width: 800px){

    .menu li a{
        padding-right:10px;
    }

} 

@media screen and (max-width: 700px){

    .menu li a{
        padding-right:5px;
    }

    .menu {
        background:none
    }

} 
