*{
    margin:0;
    padding:0;
}

body{
  font-family:  Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
}

.container-fluid{
    width:100%;
}

.container{
    width:85%;
    margin: auto;
}

.nav{
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.navbar{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    padding:.5rem 1rem;
}

.navbar-brand{
    display:inline-block;
    padding-top:.3125rem;
    padding-bottom:.3125rem;
    margin-right:1rem;
    font-size:1.25rem;
    line-height:inherit;
    white-space:nowrap
}

.btn-sm{
    padding:.25rem .5rem;
    font-size:.875rem;
    line-height:1.5;
    border-radius:.2rem
}

.dropdown-toggle{
    white-space:nowrap
}

.dropdown-toggle-split{
    padding-right:.5625rem;
    padding-left:.5625rem
}

.dropdown-menu{
    top:0;
    right:100%;
    left:auto;
    margin-top:0;
    margin-right:.125rem
}

.dropdown-item{
    display:block;
    width:100%;
    padding:.25rem 1.5rem;
    clear:both;
    font-weight:400;
    color:#212529;
    text-align:inherit;
    white-space:nowrap;
    background-color:transparent;
    border:0
}

.col{
    flex-basis:0;
    flex-grow:1;
    min-width:0;
    max-width:100%
}

.pagination{
    display:flex;
    padding-left:0;
    list-style:none;
    border-radius:.25rem
}

.justify-content-center{
    justify-content:center!important
}


.container-fluid{
display:flex;
flex-wrap:wrap;
align-items:center;
justify-content:space-between
}

.navbar-collapse{
    flex-basis:100%;
    flex-grow:1;
    align-items:center
}

.navbar-nav{
    display:flex;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none
}

.nav-link{
    display:block;
    padding:.5rem 1rem
}

.row{
    display:flex;
    flex-wrap:wrap;
    margin-right:-15px;
}

.col-md-3{
    flex:0 0 25%;
    max-width:25%
}

.col-md-9{
    flex:0 0 75%;
    max-width:75%
}

.btn-toolbar{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start
}

.btn-group{
    position:relative;
    display:inline-flex;
    vertical-align:middle
}

.btn{
    display:inline-block;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
}

.btn-toolbar{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start
}

.col-md-9{
    flex:0 0 75%;
    max-width:75%
}

.align-items-center{
    align-items:center!important;
}


.d-flex{
    display:flex!important
}

.justify-content-end{
    justify-content:flex-end!important
}

.sapato-cores button{
    margin:5px
}

.cor-vermelha{
    background-color:#CB0D1F !important;
    width:40px;
    height: 24px;
    border:none !important;
}

.cor-laranja{
    background-color:#F26324 !important;
    width:40px;
    height: 24px;
    border:none !important;
}

.cor-verde-agua{
    background-color:#27A3A9 !important;
    width:40px;
    height: 24px;
    border:none !important;
}

.produtos-inicio{
    font-size: 32px;
    color: #ED1A39;
    margin-top:61px
}


.produtos-nav{
    margin-top:-25px
}

.btn-primary{
    background-color:#00A8A9 !important;
    color:#fff;
    border: none !important;
    margin-bottom:20px

}

.produtos img{
    border: 1px solid #E2DEDC; 
}

.produtos-titulo{
    color: #626262;
    font-size:16px;
    height:50px;
    margin-top:17px;
}

.preco{
    font-size:21px
}

.produtos-diversos button{
    margin-top:10px;

}

.sapato-container-fluid{
    margin-bottom:37px;
}

.produtos-btn{
    margin-top:10px;
}

.produtos-list{
    margin-top:27px;
    margin-bottom:22px

}

.produtos-list a{
    text-decoration: none
}



.pagination li a{
    border:none !important;
    color:black !important;
}

.pagination{
    margin-top:37px;

}

@media screen and (max-width: 750px){
    .col-md-3{
        flex:100%;
        max-width:100%
    }
    .col-md-9{
        flex:100%;
        max-width:100%;
    }
}


